{
	"printWidth": 100,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"endOfLine": "crlf",
	"insertPragma": false,
	"requirePragma": false,
	"overrides": [
		{
			"files": "*.{yml,yaml}",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}